:root {
  --color-1: #000;
  --text-color: #f0f0f0;
  --accent-color: #8d606b;
}

/*
* {
  margin: 0;
  padding: 0;
}
*/

html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
  font-size: 12pt;
  font-family: Georgia, "Times New Roman", Times, serif;
}
/*  ----- HEADER / HERO -----  */
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  /*aspect-ratio: auto 940/198;*/
}

hr {
  border: 0.5px solid #000;
  margin-top: 0px;
  margin-bottom: 0px;
}
/*  ----- NAVIGATION -----  */
nav {
  position: sticky;
  top: 0;
  z-index: 100;
  height: 40px;
  background-color: var(--color-1);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 30px;
}

.links-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav a {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
}

nav a:hover {
  background-color: var(--accent-color);
}

nav .home-link {
  margin-right: auto;
}

nav svg {
  fill: var(--text-color);
}

#sidebar-active {
  display: none;
}

.open-sidebar-button,
.close-sidebar-button {
  display: none;
}

@media (max-width: 620px) {
  .links-container {
    flex-direction: column;
    align-items: flex-start;

    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;

    background-color: var(--color-1);
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.75s ease-out;
  }
  nav a {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }
  .open-sidebar-button,
  .close-sidebar-button {
    padding: 20px;
    display: block;
  }
  #sidebar-active:checked ~ .links-container {
    right: 0;
  }
  #sidebar-active:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
}

/*
.content {
  width: 90%;
  max-width: 620px;
}

section {
  display: flex;
  flex-direction: row;
  
  
  border: 3px solid #757575;
}

li {
  grid-column: 2 / 3;
  text-decoration-style:none;
}

.section-title {
  grid-column: 1 / 2;
  text-align: right;
  align-self: start;
  top: 1em;
  position: sticky;
  top: 1em;
}
*/

.content,
.all-voices,
.sop-voice,
.alt-voice,
.ten-voice,
.bas-voice,
ul,
li {
  max-width: 960px;
  margin-inline: auto;
}
ul {
  list-style-type: none;
}
.choral1 {
  margin: 0;
  padding: 0;
}
.choral2 {
  margin: 0;
  padding-bottom: 30px;
}

#all,
#sop,
#alt,
#ten,
#bas {
  display: flex;
  flex-wrap: wrap;
  border: 3px solid #757575;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

footer {
  text-align: center;
}
